@{
}

@model BooksViewModel

<h1>Online Bookstore</h1>
@foreach (Book b in Model.Books)
{
    <h3>Title: @b.Title</h3>
    <ul>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Page Count: @b.PageCount</li>
        <li>Price: $@b.Price</li>
    </ul>
    <br />
}

<div page-model="@Model.PageInfo" page-action="Index"></div>